@import "compass";
@import "settings";
@import "helpers";
@import "layout";

body{
	background: black !important;
}

@include tablet-portrait-and-below{
 	table {
 		thead{

 		}

 	}


 	
	table.ms-listviewtable > tbody > tr
	{
	padding: 10px;
	}
	 
	table.ms-listviewtable > tbody > tr > td
	{
	display: block;
	text-align: left;
	border: none!important;
	width: 100%; /* IE8 */
	float: left; /* IE8 */
	}

	table.ms-listviewtable > tbody > tr > td.ms-vb2 > a
	{
	font-size: 1.2em;
	font-weight: bold;
	}

	table.ms-listviewtable tr.s4-itm-hover > td, table.ms-listviewtable tr.ms-itmhover:hover > td, tr.s4-itm-selected > td, tr.s4-itm-selected:hover > td
	{
	border: none;
	}

	table.ms-listviewtable .ms-viewheadertr, table.ms-listviewtable tbody tr td.ms-vb-firstCell
	{
	display: none;
	}
		
}

#s4-ribbonrow {
	display: block !important;
}

