@import "compass";
@import "settings";
@import "helpers";
@import "layout";


#s4-ribbonrow {
	display: block !important;
}

 
@include tablet-portrait-and-below{
 	body.xd #main-content table.ms-listviewtable {
 		width: 100%; border-collapse: collapse; border-spacing: 0;

 		thead:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}
 		th,td  		{margin: 0; vertical-align: top;}
 		th 			{text-align: left;background: none;}
 		display: block; position: relative; width: 100%;
 		thead		{display: block; float: left;}
 		tbody 		{display: block; width: auto; position: relative; overflow-x: auto; overflow-y: hidden; white-space: nowrap;}
 		thead tr 	{display: block;}
 		thead td 	{background: none;}
 		th 			{
 			display: block;
 			height: 30px;
    		padding: 5px 31px 5px 15px;
    		font-size: 13px
 		}
 		tbody tr 	{display: inline-block; vertical-align: top;}
 		td 			{display: block; min-height: 1.25em; text-align: left; border:none}

 		//Sort out borders
 		th { border-bottom: 0; border-left: 0; }
 		th span{
 			border: none;
 			background: none;
 			display: block;
 			width: auto;
 		}
 		td { 
 			border-left: 0; border-right: 0; border-bottom: 0; text-align: center;
 			font-size: 13px;
    		height: 28px;
    		padding: 6px;
 		}

 		tbody tr { border-left: 1px solid #babcbf; }
 		//th:last-child, td:last-child { border-bottom: 1px solid #babcbf; }
 		tr td table tbody tr{
 			border: none;
 		}
 		#idSelectAll:before{
 			content: 'Select All';
 		}
 		.ms-imnImgTD{
 			display: none;
 		}

 	}
 	td.ms-vb2{
 			width: auto !important;
 	}
 	* html table.ms-listviewtable thead{ zoom: 1;}

	#main-content{
		> table{
			width:100%;
			display: block;
			> tbody, > tbody > tr, > tbody > tr > td{
				display: block;
				border:none;
				text-align: center !important;
			}
		}
	}
	.ms-vb-icon{
		margin:0 auto !important;
	}
	tbody > tr > td {
		border: none !important;
		text-align: center;	
	}
	td.ms-vb-itmcbx{
		text-align: center;
	}
	body.xd , body.xd thead td, body.xd tfoot td, body.xd td#header {
		background: none !important;

	}
}
table.ms-listviewtable{
	thead{
		background: white
	}
}
.s4-itm-cbx, .s4-itm-inlineedit {
top: 0;
position: relative;
}
