@import "compass";
@import "settings";
@import "helpers";
@import "layout";


#s4-ribbonrow {
	display: block !important;
}

 
@include tablet-portrait-and-below{
 	table.ms-listviewtable {
 		width: 100%; border-collapse: collapse; border-spacing: 0;

 		thead:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}
 		th,td  		{margin: 0; vertical-align: top;}
 		th 			{text-align: left;}
 		display: block; position: relative; width: 100%;
 		thead		{display: block; float: left;}
 		tbody 		{display: block; width: auto; position: relative; overflow-x: auto; overflow-y: hidden; white-space: nowrap;}
 		thead tr 	{display: block;}
 		th 			{display: block;}
 		tbody tr 	{display: inline-block; vertical-align: top;}
 		td 			{display: block; min-height: 1.25em; text-align: left; border:none}

 		//Sort out borders
 		th { border-bottom: 0; border-left: 0; }
 		td { border-left: 0; border-right: 0; border-bottom: 0; }
 		tbody tr { border-left: 1px solid #babcbf; }
 		th:last-child, td:last-child { border-bottom: 1px solid #babcbf; }

 	}
 	* html table.ms-listviewtable thead{ zoom: 1;}

	#main-content{
		> table{
			width:100%;
			display: block;
			> tbody, > tbody > tr, > tbody > tr > td{
				display: block;
				border:none;
				text-align: center !important;
			}
		}
	}
	.ms-vb-icon{
		margin:0 auto !important;
	}
	tbody > tr > td {
		border: none !important;
	}
}
table.ms-listviewtable{
	thead{
		background: white
	}
}
.s4-itm-cbx, .s4-itm-inlineedit {
top: 0;
position: relative;
}
