@import "compass";
@import "settings";
@import "helpers";
@import "layout";

			.ms-dlgFrameContainer {
				overflow: hidden !important;
			}

		.ms-dialog {
			.xd-header, .menu-icon, .sidebar-button, .xd-footer{
				display: none !important;
			}
			.ms-sectionheader{
				h3.ms-standardheader{
					font-size: 1.1em;
					line-height: 1.4;
				}
			}
			.ms-descriptiontext{
				font-size: 1em;
				line-height: 1.3;
				line-height: 1.7;
    			padding: 7px;
    			table{
    				text-align: center;
    			}
			}
			
			
			/**.ms-ButtonHeightWidth{
				 width: 13.2em;
			}**/
		}

body.xd
{	
	.s4-specialNavLinkList{
		border: none;
	}
	tr.ms-itmhover{
			display: table-row;
		}
	.accordion-title{
		display: none;
	}
	.fieldName{
		display: none;

	}
	.ms-listviewtable .ms-alternating{
		background-color:#f5f5f5;
	}
	.ms-descriptiontext{
		font-size: 1.1em;
	}
	td.ms-authoringcontrols{
		padding: 7px;

		label{
			font-size: 1.2em;
		}
	}
	.ms-toolbar{
		padding: 10px;
		height: auto;
	}
	.ms-smallsectionline{
		background: none;
	}
	tr b, tr td b h3, .ms-standardheader{
			font-size: 1.5em;
			line-height: 240%;
			font-weight: normal;
			
		}
	.field-name{
		display: none;
	}

	//#s4-ribbonrow{display: block !important;}
	.s4-ca{//background-color: #ffffff;  margin-left: 155px;
		background-color: #006c8c !important;
	}
	//#s4-leftpanel{ display: block !important;}
	.ms-cui-ctl-large-groupPopup .ms-cui-ctl-largeIconContainer, .ms-cui-ctl-large-groupPopup.ms-cui-disabled:hover .ms-cui-ctl-largeIconContainer{
		border:none;
	}
	table.ms-listviewtable{
		thead{
			background: white
		}
		td{
			text-align: left;
			display: table-cell !important;
		}
	}
	// Override bg injected by global.css 
	body , body thead td, body tfoot td, body td#header {
		background: none !important;
	}
	.s4-itm-cbx, .s4-itm-inlineedit {
		top: 0;
		position: relative;
	}
	.ms-gb {
		h3.ms-standardheader {
			font-size: 2em;
			line-height: 44px;

			color: #555;
			margin:0;
		}
		border: none;
	}
	// Titles 
	.ms-viewlsts .ms-vb2 {
		line-height: 170%;
		> a {
			font-size: 1.3em;
		}
	}
	td.ms-linksectionheader, th.ms-linksectionheader {
		
		background:none;

		border:none;
		text-align: left;

		background-color: #E6E7E7;


		font-size: 16px;
		line-height: 175%;
		font-weight: normal;
		color: #000;
		text-indent: 10px;
	}
	#main-content{
		> div > table{
			margin: 20px;
			background: none;
		}
		.ms-pageinformation {
			padding: 0;
		}
			
		
	}
	


	/**.xd-footer{
		padding: 20px 0;
		text-align: center;
		margin: 30px 0 16px;
	}**/
	
}
	body.xd #s4-workspace{
		.mobile-submenu li{
			background-color: #0096C1 !important;
			border-bottom: none !important;
			border-top: 1px solid #007597;
		}
		.menu-icon, .sidebar-button{
			background-position: 7% center;
			box-shadow: none;
			
		}

		.sidebar-button{
			@include box-sizing(border-box);
			border: none;
			background-color: #006C8C;
			border-top: 2px solid $darkestBlue;
			border-right: 2px solid $darkestBlue;
		}
		.menu-icon{
			border-top: 2px solid $darkestBlue;

		}
		.xd-menu{
			border:none;
			li{
				background-color: $middleBlue;
				border-bottom: 1px solid #007597;
			}
		}
		.s4-tn{
			background: $middleBlue;
		}





	}

	html input[type="button"], input[type="reset"], input[type="submit"] {
		
		border: none;
		padding: 1.2em 2.2em;
		color: #fff;
		text-highlight: none;
		font-weight: bold;
		font-family: sans-serif;
		font-size: 1.4em;
		height:auto;
	}

	input[type="button"]{
		background-color: $lightBlue;
		&:hover{
			background-color: lighten($lightBlue, 5%)
		}
	}
	input[type="reset"]{
		background-color: $darkBlue;
		&:hover{
			background-color: lighten($darkBlue, 5%);
		}
	}
	input[type="submit"]{
		background-color: $middleBlue;
		&:hover{
			background-color: lighten($middleBlue, 5%);
		}
	}



	//LeftPanel
	body.xd.system #s4-bodyContainer #s4-leftpanel[role="complementary"]{
			background: $darkBlue;
			.ms-splinkbutton-text{
				color:#fff;
			}
			.menu > ul > li {
				a{
					text-decoration: none;
					
				}
				> a{
					color: #fff;
					font-weight: bold;
					line-height: 30px;
					border-bottom: 2px solid #00485E;
					font-size: 1.1em;
				}
				
			}
			.s4-ql ul.root ul {
				margin: 0;
				> li {
						background: #007495;
						border-bottom: 1px solid #00485E;
					> a{
						font-size: 0.9em;
						color: #fff;
						line-height: 30px;
						text-indent: 1.3em;
					}
				}
			}
		}
		
// Foundation resets


table tr.even, table tr.alt, table tr:nth-of-type(even) {
	background: none;
}

// Sharepoint reset

img[src="/_layouts/images/blank.gif"]{
	display: none;
}



// DIALOGOS
@include  tablet-portrait-and-below{
	.ms-ButtonHeightWidth {
		@include box-sizing(border-box);
		display: block;
	    font-size: 1.5em;
	    height: auto;
	    margin: 0.5em auto;
	    padding: 0.7em;
	    width: 95%;
	}
	.ms-authoringcontrols {
		input, textarea{
			margin: 0 auto;
		}
		tbody{
			width: auto !important;
		}
	}
	.ms-dialog{
		td{
			display: block;
			width:auto !important; 
		}
	}
}

// NO DIALOGOS
html:not(.ms-dialog-nr){

@include tablet-portrait-and-below{
	
	body.system .button{
		float: right;
	}
	table colgroup{
		display: none;
	}


	.ms-propertysheet{
		table{
			margin:0 auto;
		}
	}
	.ms-vb2 table{
		margin: 0 auto !important;
	}
	table tr.ms-itmhover tr{
		padding:20px 0;
		&.s4-itm-selected{
			background: #A5CCE4;
		}
	}
	.fieldName{
		float: left;
		margin-right: 10px;
		font-weight: bold;
		display: block;
		margin-left: -90px;
		width: 90px;
		font-size: 0.8em;
	}


	td label{
		display: inline-block !important;
		margin-left: 6px;
	}
	.ms-separator{
		display: none !important;
	}
	button, select{
		font-size: 12px;
		padding: 4px;
	}
	td.ms-authoringcontrols > label, td.ms-authoringcontrols > span > label, td.ms-authoringcontrols > table > tbody > tr > td > label {
		font-size: 1em;
	}
	.ms-authoringcontrols table{
		margin:0 auto;
		width:auto;
	}
 /**	body.xd #main-content table.ms-listviewtable { 		
 		width: auto; border-collapse: collapse; border-spacing: 0;

 		thead:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}
 		th,td  		{margin: 0; vertical-align: top;}
 		th 			{text-align: left;background: none;}
 		display: block; position: relative; width: 100%;
 		thead		{display: block; float: left;}
 		tbody 		{display: block; width: auto; position: relative; overflow-x: auto !important; overflow-y: hidden; white-space: nowrap;@include clearfix;}
 		thead tr 	{display: block;}
 		thead td 	{background: none;}
 		th 			{
 			display: block;
 			height: 30px;
    		padding: 5px 20px 5px 5px;
			font-size: 11px;
 		}
 		tbody tr 	{display: inline-block; vertical-align: top;}
 		td 			{display: block; min-height: 1.25em; text-align: left; border:none}

 		//Sort out borders
 		th { border-bottom: 0; border-left: 0; }
 		th span{
 			border: none;
 			background: none;
 			display: block;
 			width: auto;
 		}
 		th .ms-imnImgTD{
 			display: none;
 		}
 		td { 
 			border-left: 0; border-right: 0; border-bottom: 0; text-align: center;
 			font-size: 13px;
    		line-height: 28px;
    		padding: 6px;
 		}

 		> tbody > tr { border-left: 1px solid #babcbf; }
 		//th:last-child, td:last-child { border-bottom: 1px solid #babcbf; }
 		tr td table tbody tr{
 			border: none;
 		}
 		#idSelectAll:before{
 			content: 'Select All';
 			margin-left: 24px;
			font-size: 11px;
			color: #aaa
 		}
 	} **/
 	
 	body.xd #main-content table.ms-viewlsts{
 		tbody{
 			tr:first-child{
 				display: none;
 			}
 		}
 	}
 	* html table.ms-listviewtable thead{ zoom: 1;}

	body.xd #main-content{
		padding: 0 !important;
		tr.s4-itm-selected, tr.s4-itm-selected:hover {
			background-color: lighten($lightBlue, 10%) !important;
		}
		#layoutsTable{
			@include box-sizing(border-box);
    		display: block;
    		width: auto !important;
		}
		tbody, tr{
			width: auto !important;
			display: block;
		}
		td{
			line-height: 30px;
			select{
				 width: 100%;
				 @include box-sizing(border-box);
			}
			position: relative;
			img{
				max-width: 100%;
			}
		}
		.ms-itmhover{
			display: none ;
		}
		tr.accordion-title{
			display: block;
			background: $blue;
			padding: 10px;
			border-bottom: 1px solid darken($blue, 10%);
			td{
				line-height: 25px;
				font-size: 1.4em;
				color: $darkestBlue;
			    font-size: 1.4em;
			    font-weight: bold;
			    padding: 0;
			    line-height: 30px;
			    text-align: left;
			    text-indent: 1em;

			}
			&:before{
					content:'';
					width: 0;
					height: 0;
					border-top: 7px solid transparent;
					border-bottom: 7px solid transparent;
					border-left: 7px solid $darkestBlue;
					position: absolute;
					right: 10px;
					margin-top: 5px;
				}
			&.active:before{
					content:'';
					width: 0;
					height: 0;
					border-left: 7px solid transparent;
					border-right: 7px solid transparent;
					border-top: 7px solid $darkestBlue;
					position: absolute;
					right: 10px;
					margin-top: 5px;
			}
			&:hover{
				background: lighten($blue, 5%);
			}
		}

		#onetidMngFieldRptrTable {
			
			tr, tbody{
				width: auto !important;
			}
			td{
				width: 100% !important;
			}
			tr{
				border-bottom: 1px solid #ccc;
			}
		}
		#onetidMngCytpeRptrTable td{
			display: table-cell;
		    padding: 15px 16px;
		    text-indent: 10px;
		}
		overflow: hidden;
		.ms-propertysheet a{
			&:first-child{
				background: $blue;
				color:#fff;
			}
			line-height: 52px;
			font-size: 1.1em;
		}
		tr.s4-itm-selected > td, tr.s4-itm-selected:hover > td{
			background: $blue !important;
		}
		#AsynchronousViewDefault_CalendarView{
			table{
		 		display: table !important;
		 	}
		 	td{
				display: table-cell !important;
			}
			tr{
				display: table-row !important;
			}
			.ms-acal-detail{
				th{
					display: table-cell !important;
				}
			}
			.ms-acal-outday{
				border-right: solid 1px #d9dde1 !important;
				border-left: solid 1px #d9dde1 !important;
				display: table-cell !important;
			}
		}
		.ms-authoringcontrols {
			background: none !important;
			clear: both;
			br[disabled=true], td br{
				display: none;
			}
		}
		#diidViewColumnHeaderPictureDisp1{
			height: 85px;
		}
		//height: auto !important;
		padding: 10px 0;
		.theme-font-pickers{
			float:none;
		}
		tbody > tr > th{
			display: none;
		}
		 tr td b h3{
		 		text-align: center !important; 
		 }
		.field-name{
			font-weight: bold;
			display: block;
		}
		#mngfieldToobar{
			background: #fff;
			padding: 20px 0;
		}
		.ms-toolbar{
			background: none;
			border: none;
			#topPagingCell{
				display: none;
			}
			label{
				font-size: 1.4em;
			}
			select{
				display: block;
			}
			table{
				width:100%;
				margin:0 auto !important;
				border: 1px solid #ccc;
				padding: 3px 0;
				td{
					background: #eee;
				}
				&:hover{
					background: url("https://at.avanade.com/_layouts/images/bgximg.png") repeat-x -0px -431px;
					cursor: pointer;
				}
			}
			.ms-menubuttoninactivehover{
				background: #eee;
				border: 1px solid #ccc;
			}
		}
		.ms-sectionheader{
				height: auto;
				.ms-standardheader{
					font-size: 2em;
					text-align: center;
					line-height: 2em;
					font-weight: normal;
				}
			}

		table[id*=PlaceHolderMain]{
			margin:0 auto;

		}
		> div{
			float: none !important;
			margin:0 auto !important;
			width: auto !important;
			> table{
				margin:0 auto;
				

			}
		}
		.ms-pageinformation{
			th, tr, td, h3{
				text-align: center;
				font-size: 1.1em;
			}
			h3{
				font-size: 1.5em;
			}
		}

		.ms-linksection-level1 {
			td{
				height:auto !important;
			}
			h3 {
				font-size: 1.5em;
				font-weight: 100;
				padding: 17px 0 9px 0;
			}			
			ul li a {
				font-size: 1.1em;
				line-height: 45px;
			}
			img{
				margin-top: 13px;
			}
		}
		.ms-vb{
			a{
				font-size: 1.3em;
			}
		}
		.ms-menutoolbar td a {
			color: #0072bc !important;
			font-size: 12pt;
			margin: 10px;
		}
		.ms-toolbar table:hover{
			background: #ccc;
		}
		td.ms-vb2{
 			width: auto !important;
 			padding: 10px 15px;
 			font-size: 1em;
 			padding-left: 100px;
 			text-align: left;
 			line-height: 25px;
 			&[colspan="3"] .fieldName{
 				display: none;
 			}
 		}

 		> table{
			width:auto;
			display: block;

			> tbody, > tbody > tr, > tbody > tr > td{
				display: block;
				border:none;
				text-align: center !important;
				height: auto;
			}
		}
		.ms-vb2{

			//display: none;
			&:nth-of-type(2){
				display: block;
			}
			&.ms-viewlsts-noitems{
				display: block;
			}
		}
		.ms-vb-icon{
			margin:0 auto !important;
			padding: 20px;
		}
		tbody > tr > td {
			border: none !important;
			text-align: center;	
			width: auto !important;
			display: block;
		}
		td.ms-vb-itmcbx{
			text-align: center;
		}
		.ms-gb h3.ms-standardheader {
			text-align: center;
			font-size: 2em;
			line-height: 44px;
			text-align: center;
		}
		.ms-gb {
			height: 45px;
		}
		.ms-menubuttonactivehover, .ms-buttonactivehover{
			background: #dedede;
		}

		.ms-viewheadertr{
			input[type="checkbox"]{
				margin-top: 3px;
			}
		}
		.ms-menutoolbar{
			height: auto;
			background: none;
		}
		.s4-wpTopTable tbody,.s4-wpTopTable  tr, table.s4-wpTopTable, .s4-wpTopTable table , .s4-wpTopTable td{
			display: block ;
		}
		.s4-wpTopTable #AsynchronousViewDefault_CalendarView tbody{
			display: table-row-group;
		}
		.s4-wpTopTable #AsynchronousViewDefault_CalendarView tr{
			display: table-row;
		} 
		table.s4-wpTopTable #AsynchronousViewDefault_CalendarView{
			display: block;
		} 
		.s4-wpTopTable #AsynchronousViewDefault_CalendarView table{
			display: table;
		} 
		.s4-wpTopTable #AsynchronousViewDefault_CalendarView td{
			display: table-cell;

		}

	}

}



}