/* ..-------------------------------------------------------...
  |                         COLOR PALETTE                      |
  |..--------------------------------------------------------..|*/
/*...................Links.....................*/
/*...................Headings.....................*/
/* ..-------------------------------------------------------...
|                 ANIMATIONS & TRANSITIONS                   |
|..--------------------------------------------------------..|*/
/* ..-------------------------------------------------------...
 |                         HELPER CLASSES                     |
 |..--------------------------------------------------------..|*/
.nodisplay, .hide {
  display: none;
}

.inline {
  display: inline-block;
}

.pointer:hover, body.xd .menu-icon:hover {
  cursor: pointer;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.auto {
  margin: 0 auto;
}

.odd {
  background: #FBFBFB;
}

.even {
  background: #F2F0F1;
}

.letterpressed {
  text-shadow: 1px 1px 0 #ccc, -1px -1px- 0 #999;
}

.bold {
  font-weight: bold;
}

.clearfix {
  overflow: hidden;
  *zoom: 1;
}

.block {
  display: block;
}

.h100 {
  height: 100%;
}

.noOutline {
  outline: none;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
}

.paddingL {
  padding-left: 1.3%;
}

.paddingB {
  padding-bottom: 1.3%;
}

.paddingR {
  padding-right: 1.3%;
}

.paddingT {
  padding-top: 1.3%;
}

.floatR {
  float: right;
}

.floatL {
  float: left;
}

.positionA {
  position: absolute;
}

.positionF {
  position: fixed;
}

.positionR {
  position: relative;
}

.fullFixedBg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  background-origin: border-box;
}

body.xd {
 /** .dynamic-children{
    &:hover{
      cursor: pointer;
    }
    .arrow-down{
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid lighten($blue, 10%);
      float: right;
      margin-left: 11px;

    }
    .arrow-right{
      width: 0;
      height: 0;
      border-bottom: 7px solid transparent;
      border-top: 7px solid transparent;
      border-left: 7px solid lighten($blue, 10%);
      float: right;
      margin-left: 11px;

    }
    .additional-background{
      .menu-item-text{
        float: left;
      }
      background: none !important;
    }
  } **/
}
body.xd .menu-icon {
  background: #73b7e2;
  width: 45px;
  height: 45px;
  position: absolute;
  text-align: center;
  z-index: 1;
  right: 0;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
body.xd .menu-icon:hover {
  background: #88c2e7;
}
body.xd .mobile-submenu {
  display: none;
  clear: both;
}
body.xd #zz15_TopNavigationMenuV4 {
  display: none;
}
@media (max-width: 480px) {
  body.xd .menu-icon {
    display: block;
  }
  body.xd .menu .ul.dynamic {
    display: block !important;
    left: auto !important;
    top: auto !important;
    position: static !important;
    clear: both !important;
  }
  body.xd ul.root.static {
    overflow: hidden;
    *zoom: 1;
  }
  body.xd #zz15_TopNavigationMenuV4 .menu {
    width: 100%;
  }
  body.xd #zz15_TopNavigationMenuV4 .menu ul {
    width: 100%;
  }
  body.xd #zz15_TopNavigationMenuV4 .menu ul > li {
    width: 100%;
  }
  body.xd #zz15_TopNavigationMenuV4 .menu ul ul > li {
    width: 100%;
  }
}
@media only screen and (min-width: 769px) {
  body.xd .menu-icon {
    display: none;
  }
}

/* ==========================================================================
   INDEX
   1.0 Master Page Wrappers and GLOBAL
   2.0 Header Styles
   3.0 Menu
   4.0 Footer
   5.0 Media Queries
   ========================================================================== */
/* ==========================================================================
   1.0 Master Page Wrappers
   ========================================================================== */
body.xd #ctl00_MSO_ContentDiv,
body.xd #s4-bodyContainer {
  min-width: inherit;
}

body.xd #s4-leftpanel {
  display: none;
}

body.xd .s4-ca {
  margin-left: 0px;
}

body.xd hr {
  border-bottom: none;
}

body.xd {
  background-color: #efefef;
}

/* ==========================================================================
   2.0 Header Styles
   ========================================================================== */
body.xd .xd-header {
  background-color: #009fd9;
  padding: 30px;
}

body.xd .xd-header h1 {
  display: inline-block;
  font-weight: lighter;
  margin: 0px;
}

body.xd .xd-header h1 a {
  color: #fff;
  margin-left: 20px;
  font-size: 0.9em;
}

body.xd .xd-header .s4-notdlg {
  display: inline-block;
}

.xd-welcome {
  font-size: .7em;
  clear: both;
  overflow: hidden;
  display: inline-block;
  float: right;
  margin-right: -11px;
}

body.xd .xd-search {
  display: inline-block;
  float: right;
}

body.xd .xd-search .ms-sbplain {
  background-image: none;
}

body.xd .xd-search input {
  margin: 0px;
  padding: 0 0 0 5px;
  height: 19px;
  font-size: 11px;
  float: right;
  background-color: #fff;
  background-image: none;
  box-shadow: none;
  border: none !important;
}

/* ==========================================================================
   3.0 Menu
   ========================================================================== */
.xd-menu {
  background-color: #00b0e2;
  padding: 0 30px;
  border-top: solid 1px #61C3E8;
}

.xd-menu .s4-tn li.static > .menu-item {
  height: 100%;
  color: #7FD7F1;
  padding: 17px 30px 15px;
  text-transform: uppercase;
  font-size: .9em;
}

.xd-welcome .ms-welcomeMenu, .xd-welcome .s4-trc-container-menu {
  background: none;
  padding: 0px;
  margin: 0px;
}

.xd-menu .menu ul li:first-child .menu-item {
  color: white;
}

/* ==========================================================================
   4.0 Footer
   ========================================================================== */
.xd-footer {
  padding: 30px;
  font-size: 0.8em;
}
