/*
Syntax error: Undefined variable: "$middleBlue".
        on line 174 of C:/Users/carlos.perez.priego/Documents/GitHub/XDNA/sass/xdadmin.scss

Backtrace:
C:/Users/carlos.perez.priego/Documents/GitHub/XDNA/sass/xdadmin.scss:174
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/script/variable.rb:49:in `_perform'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/script/node.rb:40:in `perform'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:298:in `visit_prop'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:7:in `visit'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/tree/root_node.rb:20:in `render'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/engine.rb:315:in `_render'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/engine.rb:262:in `render'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/bin/compass:44:in `call'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
C:/Program Files (x86)/Prepros/ruby_gems/bin/prepros-compass:17:in `load'
C:/Program Files (x86)/Prepros/ruby_gems/bin/prepros-compass:17:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$middleBlue\".\A         on line 174 of C:/Users/carlos.perez.priego/Documents/GitHub/XDNA/sass/xdadmin.scss"; }
