/* ..-------------------------------------------------------... |                         COLOR PALETTE                      | |..--------------------------------------------------------..|*/
/*...................Links.....................*/
/*...................Headings.....................*/
/* ..-------------------------------------------------------...
|                 ANIMATIONS & TRANSITIONS                   |
|..--------------------------------------------------------..|*/
/* ..-------------------------------------------------------... |                         HELPER CLASSES                     | |..--------------------------------------------------------..|*/
.nodisplay, .hide { display: none; }

.inline { display: inline-block; }

.pointer:hover { cursor: pointer; }

.center { text-align: center; }

.left { text-align: left; }

.right { text-align: right; }

.auto { margin: 0 auto; }

.odd { background: #FBFBFB; }

.even { background: #F2F0F1; }

.letterpressed { text-shadow: 1px 1px 0 #ccc, -1px -1px- 0 #999; }

.bold { font-weight: bold; }

.clearfix { overflow: hidden; *zoom: 1; }

.block { display: block; }

.h100 { height: 100%; }

.noOutline { outline: none; }

.antialiased { -webkit-font-smoothing: antialiased; }

.paddingL { padding-left: 1.3%; }

.paddingB { padding-bottom: 1.3%; }

.paddingR { padding-right: 1.3%; }

.paddingT { padding-top: 1.3%; }

.floatR { float: right; }

.floatL { float: left; }

.positionA { position: absolute; }

.positionF { position: fixed; }

.positionR { position: relative; }

.fullFixedBg { -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-attachment: fixed; background-position: top center; background-origin: border-box; }

body.xd #s4-ribbonrow { display: block !important; }
body.xd .ms-cui-ctl-large-groupPopup .ms-cui-ctl-largeIconContainer, body.xd .ms-cui-ctl-large-groupPopup.ms-cui-disabled:hover .ms-cui-ctl-largeIconContainer { border: none; }
body.xd table.ms-listviewtable thead { background: white; }
body.xd body, body.xd body thead td, body.xd body tfoot td, body.xd body td#header { background: none !important; }
body.xd .s4-itm-cbx, body.xd .s4-itm-inlineedit { top: 0; position: relative; }
body.xd .ms-gb { border: none; }
body.xd .ms-gb h3.ms-standardheader { font-size: 2em; line-height: 44px; color: #555; margin: 0; }
body.xd .ms-viewlsts .ms-vb2 { line-height: 170%; }
body.xd .ms-viewlsts .ms-vb2 > a { font-size: 1.3em; }
body.xd td.ms-linksectionheader, body.xd th.ms-linksectionheader { background: none; border: none; text-align: left; background-color: #E6E7E7; font-size: 16px; line-height: 175%; font-weight: normal; color: #000; text-indent: 10px; }
body.xd #main-content > div > table { margin: 20px; background: none; }
body.xd #main-content .ms-pageinformation { padding: 0; }
body.xd .xd-footer { padding: 20px 0; text-align: center; margin: 30px 0 16px; }

@media only screen and (max-width: 768px) { button, select { font-size: 12px; padding: 4px; }
  td.ms-authoringcontrols > label, td.ms-authoringcontrols > span > label, td.ms-authoringcontrols > table > tbody > tr > td > label { font-size: 1em; }
  .ms-authoringcontrols table { margin: 0 auto; }
  body.xd #main-content table.ms-listviewtable { width: 100%; border-collapse: collapse; border-spacing: 0; display: block; position: relative; width: 100%; }
  body.xd #main-content table.ms-listviewtable thead:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
  body.xd #main-content table.ms-listviewtable th, body.xd #main-content table.ms-listviewtable td { margin: 0; vertical-align: top; }
  body.xd #main-content table.ms-listviewtable th { text-align: left; background: none; }
  body.xd #main-content table.ms-listviewtable thead { display: block; float: left; }
  body.xd #main-content table.ms-listviewtable tbody { display: block; width: auto; position: relative; overflow-x: auto !important; overflow-y: hidden; white-space: nowrap; overflow: hidden; *zoom: 1; }
  body.xd #main-content table.ms-listviewtable thead tr { display: block; }
  body.xd #main-content table.ms-listviewtable thead td { background: none; }
  body.xd #main-content table.ms-listviewtable th { display: block; height: 30px; padding: 5px 20px 5px 5px; font-size: 11px; }
  body.xd #main-content table.ms-listviewtable tbody tr { display: inline-block; vertical-align: top; }
  body.xd #main-content table.ms-listviewtable td { display: block; min-height: 1.25em; text-align: left; border: none; }
  body.xd #main-content table.ms-listviewtable th { border-bottom: 0; border-left: 0; }
  body.xd #main-content table.ms-listviewtable th span { border: none; background: none; display: block; width: auto; }
  body.xd #main-content table.ms-listviewtable th .ms-imnImgTD { display: none; }
  body.xd #main-content table.ms-listviewtable td { border-left: 0; border-right: 0; border-bottom: 0; text-align: center; font-size: 13px; height: 28px; padding: 6px; }
  body.xd #main-content table.ms-listviewtable > tbody > tr { border-left: 1px solid #babcbf; }
  body.xd #main-content table.ms-listviewtable tr td table tbody tr { border: none; }
  body.xd #main-content table.ms-listviewtable #idSelectAll:before { content: 'Select All'; margin-left: 24px; font-size: 11px; color: #aaaaaa; }
  body.xd #main-content table.ms-viewlsts tbody tr:first-child { display: none; }
  * html table.ms-listviewtable thead { zoom: 1; }
  body.xd #main-content .ms-sectionheader { height: auto; }
  body.xd #main-content .ms-sectionheader .ms-standardheader { font-size: 2em; text-align: center; line-height: 2em; font-weight: normal; }
  body.xd #main-content table[id*=PlaceHolderMain] { margin: 0 auto; }
  body.xd #main-content > div { float: none !important; margin: 0 auto !important; width: auto !important; }
  body.xd #main-content > div > table { margin: 0 auto; }
  body.xd #main-content .ms-pageinformation th, body.xd #main-content .ms-pageinformation tr, body.xd #main-content .ms-pageinformation td, body.xd #main-content .ms-pageinformation h3 { text-align: center; font-size: 1.1em; }
  body.xd #main-content .ms-pageinformation h3 { font-size: 1.5em; }
  body.xd #main-content .ms-linksection-level1 h3 { font-size: 1.5em; font-weight: 100; padding: 17px 0 9px 0; }
  body.xd #main-content .ms-linksection-level1 ul li a { font-size: 1.1em; line-height: 45px; }
  body.xd #main-content .ms-linksection-level1 img { margin-top: 13px; }
  body.xd #main-content td.ms-vb2 { width: auto !important; padding: 10px 15px; }
  body.xd #main-content > table { width: 100%; display: block; }
  body.xd #main-content > table > tbody, body.xd #main-content > table > tbody > tr, body.xd #main-content > table > tbody > tr > td { display: block; border: none; text-align: center !important; height: auto; }
  body.xd #main-content .ms-vb2 { display: none; }
  body.xd #main-content .ms-vb2:nth-of-type(2) { display: block; }
  body.xd #main-content .ms-vb2.ms-viewlsts-noitems { display: block; }
  body.xd #main-content .ms-vb-icon { margin: 0 auto !important; }
  body.xd #main-content tbody > tr > td { border: none !important; text-align: center; width: auto !important; display: block; }
  body.xd #main-content td.ms-vb-itmcbx { text-align: center; }
  body.xd #main-content .ms-gb h3.ms-standardheader { text-align: center; font-size: 2em; line-height: 44px; }
  body.xd #main-content .ms-gb { height: 45px; }
  body.xd #main-content .ms-menutoolbar { height: auto; background: none; }
  body.xd #main-content .s4-wpTopTable tbody, body.xd #main-content .s4-wpTopTable tr, body.xd #main-content table.s4-wpTopTable, body.xd #main-content .s4-wpTopTable table, body.xd #main-content .s4-wpTopTable td { display: block; } }
