/*
Syntax error: Invalid CSS after "...-align: center ": expected ";", was "!!important;"
        on line 43 of C:/Users/carlos.perez.priego/Documents/GitHub/XDNA/sass/xdadmin.scss

Backtrace:
C:/Users/carlos.perez.priego/Documents/GitHub/XDNA/sass/xdadmin.scss:43
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:1146:in `expected'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:1084:in `expected'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:1079:in `tok!'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:586:in `block in declaration_or_ruleset'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:1122:in `call'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:1122:in `rethrow'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:554:in `block_child'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:546:in `block_contents'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:535:in `block'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:529:in `ruleset'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:591:in `block in declaration_or_ruleset'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:1122:in `call'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:1122:in `rethrow'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:554:in `block_child'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:546:in `block_contents'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:535:in `block'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:529:in `ruleset'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:591:in `block in declaration_or_ruleset'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:1122:in `call'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:1122:in `rethrow'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:554:in `block_child'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:543:in `block_contents'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:535:in `block'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:529:in `ruleset'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:591:in `block in declaration_or_ruleset'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:1122:in `call'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:1122:in `rethrow'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:554:in `block_child'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:546:in `block_contents'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:535:in `block'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:197:in `include_directive'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:175:in `special_directive'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:147:in `directive'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:553:in `block_child'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:546:in `block_contents'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:82:in `stylesheet'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/scss/parser.rb:27:in `parse'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/engine.rb:342:in `_to_tree'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/engine.rb:315:in `_render'
C:/Program Files (x86)/Prepros/ruby_gems/gems/sass-3.2.9/lib/sass/engine.rb:262:in `render'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/bin/compass:44:in `call'
C:/Program Files (x86)/Prepros/ruby_gems/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
C:/Program Files (x86)/Prepros/ruby_gems/bin/prepros-compass:17:in `load'
C:/Program Files (x86)/Prepros/ruby_gems/bin/prepros-compass:17:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...-align: center \": expected \";\", was \"!!important;\"\A         on line 43 of C:/Users/carlos.perez.priego/Documents/GitHub/XDNA/sass/xdadmin.scss"; }
